{
  "plugins": ["prettier-plugin-tailwindcss"],
  "arrowParens": "always",
  "endOfLine": "lf",
  "tabWidth": 2,
  "semi": true,
  "trailingComma": "es5",
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["clsx"]
}
