<section
    id="latest-project"
    class="grid grid-cols-1 md:grid-cols-2 px-2 flex-1 gap-x-1 gap-y-2 w-full"
>
    <div class="flex flex-col justify-center items-start gap-1">
        <h2 class="text-center">Latest Project</h2>
        <a
            href="/project"
            class="font-light text-sm hover:underline text-gray-500">See all</a
        >
    </div>
    <div class="flex flex-col justify-start items-start gap-1">
        <a
            href="/project/workflow-engine"
            class="text-md font-light hover:underline hover:font-medium"
            >Workflow Engine</a
        >
        <p class="text-sm font-light text-gray-500">2nd March, 2025</p>
    </div>
</section>
