---
import { getCollection } from "astro:content";

const projects = await getCollection("project");
const latestProject = projects?.at(-1);
---

<section id="latest-project" class="grid grid-cols-1 md:grid-cols-2 px-2 flex-1 gap-x-1 gap-y-2 w-full">
  <div class="flex flex-col justify-center items-start gap-1">
    <h2 class="text-center">Latest Project</h2>
    <a href="/project" class="font-light text-sm hover:underline text-gray-500">See all</a>
  </div>
  <div class="flex flex-col justify-start items-start gap-1">
    <a
      href={`/project/${latestProject?.id}`}
      class="text-md font-light hover:underline hover:font-medium"
      transition:name="project-name"
      transition:animate="slide">{latestProject?.data?.title}</a
    >
    <p class="text-sm font-light text-gray-500" transition:name="project-description" transition:animate="slide">
      {latestProject?.data?.description}
    </p>
  </div>
</section>
