---
import { getCollection } from "astro:content";

const blogs = await getCollection("blog");
const latestBlog = blogs?.at(0);
---

<section id="latest-blog" class="grid grid-cols-1 md:grid-cols-2 px-2 flex-1 gap-x-1 gap-y-2 w-full">
  <div class="flex flex-col justify-center items-start gap-1">
    <h2 class="text-center">Latest Blogs</h2>
    <a href="/blog" class="font-light text-sm hover:underline text-gray-500">See all</a>
  </div>
  {
    latestBlog ? (
      <div class="flex flex-col justify-start items-start gap-1">
        <a
          href={`/blog/${latestBlog?.id}`}
          class="text-md font-light hover:underline hover:font-medium"
          transition:name="blog-name"
        >
          {latestBlog.data.title}
        </a>
        <p class="text-sm font-light text-gray-500">{latestBlog?.data?.date}</p>
      </div>
    ) : null
  }
</section>
