<footer class="border-t border-gray-200 py-4 w-full">
  <div class="container mx-auto flex justify-center items-center flex-wrap gap-1 w-full">
    <p class="text-sm font-light">Made in India</p>
    <p class="text-sm font-light">
      &copy; {new Date().getFullYear()} Nisarg Bhatt
    </p>
  </div>
</footer>
