<header class="p-2 container mx-auto border-b border-gray-200">
    <nav class="flex justify-between items-center gap-1">
        <a
            href="/"
            title="Nisarg Bhatt"
            aria-label="Home Link"
            class="text-md font-medium">N</a
        >
        <div class="flex flex-row justify-end items-center gap-2">
            <a
                href="/blog"
                class="text-sm font-light hover:font-medium hover:underline"
                >Blog</a
            >
            <a
                href="/project"
                class="text-sm font-light hover:font-medium hover:underline"
                >Projects</a
            >
        </div>
    </nav>
</header>
