---
import AvatarComponent from "@components/ui/AvatarComponent";
---

<header class="p-2 border-b border-gray-200 w-full sticky top-0 z-20 backdrop-blur-xs">
  <nav class="flex justify-between items-center gap-1 container mx-auto">
    <a href="/" title="Nisarg Bhatt" aria-label="Home Link">
      <AvatarComponent src="/me.png" alt="Nisarg Bhatt" fallbackText="N" />
    </a>
    <div class="flex flex-row justify-end items-center gap-2">
      <a href="/blog" class="text-sm font-medium text-muted-foreground transition-colors hover:text-primary">Blog</a>
      <a href="/project" class="text-sm font-medium text-muted-foreground transition-colors hover:text-primary"
        >Projects</a
      >
    </div>
  </nav>
</header>
